body {
  background-color: #ededed;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #1A79AD;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background-color: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #515151;
  text-align: center;
}

.logo {
  margin-bottom: 40px;
}

.page-test {
  padding: 50px;
}

.sprint-test {
padding: 40px;
margin-left: 80px;
}

.button-sprint-test {
  margin-left: 10px;
}

.dropbox {
  width: 250px;
  height: 33px;
}

.homelogo {
position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  animation: bounceIn 2s;
}

.page-title {
  font-size: 20px;
  margin-right: 30px;
  color: #595959;
}

.logoicon {
    margin-right: 15px;
}

.testez {
  padding: 17px;
}

.testex {
  margin-top: 34px;
  margin-left: 90px;
}


.testec {
  margin-top: 34px;
  margin-right: 15px;
}

.btn-search {
  height: 32px;
  margin-left: 10px;
}



.logoiconassignee {
  width: 2%;
  margin-right: 5px;
  pointer-events: none;
  position: relative;
  top: 3px;

}

.sprints {
  margin-left: 20px;
}

.footer {
  background-color: #c4c4c4;
  margin-top: 20px;
  height: 50px;
}

.assignee {
  margin-top: 40px;
}

.assigneeform {
  margin-left: 130px;
  margin-top: 40px;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

a, a:link, a:visited, a:focus, a:active{
  text-decoration:none; 
}

a:hover{
  color: #1A79AD;
  font-weight:bold;
}

.teste {
  text-align: center;
  color: #595959;
}

done {
  display: inline-block;
  vertical-align: middle;
    height: 22px;
    width: 22px;
    line-height: 22px;;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: #41A85F;
    color: white;
    text-align: center;
    font-size: 12px;
}

inprogress {
    display: inline-block;
  vertical-align: middle;
    height: 22px;
    width: 22px;
    line-height: 22px;;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: #FFBA00;
    color: white;
    text-align: center;
    font-size: 12px;
}

peerreview {
    display: inline-block;
  vertical-align: middle;
    height: 22px;
    width: 22px;
    line-height: 22px;;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: #D14841;
    color: white;
    text-align: center;
    font-size: 12px;
}

intest {
    display: inline-block;
  vertical-align: middle;
    height: 22px;
    width: 22px;
    line-height: 22px;;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: #1A79AD;
    color: white;
    text-align: center;
    font-size: 12px;
}

readyfordev {
    display: inline-block;
  vertical-align: middle;
    height: 22px;
    width: 22px;
    line-height: 22px;;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: #ce4296;
    color: white;
    text-align: center;
    font-size: 12px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

h3 {
    color: white;
}
h3 span { 
    background-color: green; 
}

h3 span1 { 
    background-color: red; 
}
